# ビルド出力フォルダ (コンパイルされた exe や dll)
[Bb]in/
[Oo]bj/
obj/*

# 公開（Publish）用フォルダ
publish/

# Visual Studio / VS Code の一時設定ファイル
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Python のキャッシュファイル
modules\__pycache__

# ログファイル
*.log

# OS固有のファイル
Thumbs.db
.DS_Store
photo_organizer.log
modules/__pycache__/__init__.cpython-314.pyc
modules/__pycache__/frame_processor.cpython-314.pyc
modules/__pycache__/gps_tagger.cpython-314.pyc
modules/__pycache__/photo_copier.cpython-314.pyc
photo_organizer.log
photo_organizer.log
